*
  padding: 0
  margin:  0

.content
  max-width: 1120px
  width: 100%
  padding: 0 16px
  margin: 0 auto
  box-sizing: border-box

.portfolio

  &-list
    display: grid
    grid-template-columns: repeat(3,minmax(100px,349px))
    grid-gap: 36px

    &-item
      display: block
      max-width: 349px
      width: 100%
      height: 349px
      background-color: red

  &-menu-but
    background-repeat: no-repeat
    background-size: contain
    padding-left: 47px
    margin: 20px 0

    &__web
      background-image: url("./../../img/portfolio/icon-web.svg")

    &__app
      background-image: url("./../../img/portfolio/icon-app.svg")

    &__soft
      background-image: url("./../../img/portfolio/icon-soft.svg")

  &-head
    height: 107px
    width: 100%
    position: relative
    font-family: "GothamProBold"
    font-size: 120px
    color: #F2F2F2
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    margin: 60px auto
    align-items: center

    &::before
      content: "ПОРТФОЛИО"
      position: absolute
      z-index: -1
      opacity: 0.5

    & ul
      max-width: 487px
      width: 100%
      height: 76px
      list-style: none
      height: 67px
      display: flex
      flex-direction: row
      justify-content: space-between

      .active
        border-bottom: 4px solid rgba(234,67,53,1)

      & a
        font-family: "GothamProBold"
        font-size: 30px
        display: block
        color: #404040
        text-decoration: none
