@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

.portfolio-list-item{
  position: relative;
}
.portfolio-list-item img{
  width: 100%;
  height: 100%;
}
.portfolio-list-item:hover .none{
  opacity: 1;
  transition: .5s;
}

.portfolio-list-item .none{
  position: absolute;
  background: #fff;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  display: flex;
  right: 0;
  bottom: 0;
  opacity: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,0.10);
}
.portfolio-list-item .none-content{
  background-image: url("./../../img/portfolio/search.svg");
  background-repeat: no-repeat;
  max-width: 269px;
  position: relative;
  max-height: 269px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  height: 100%;
}
.portfolio-list-item .none-content::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-image: url("./../../img/portfolio/icon-web.svg");
  background-size: cover;
}
.none-content_bold{
  font-family: "GothamProBold";
  font-size: 28px;
  color: #404040;
  line-height: 32px;
  margin-bottom: 5px;
}
.none-content_light{
  font-family: "GothamProLight";
  font-size: 16px;
  color: #666666;
  line-height: 24px;
}
.none-content_light span{
  display: block;width: 1px;
  height: 4px;
}


.content {
  max-width: 1120px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box; }

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
  .portfolio-list-item {
    display: block;
    max-width: 349px;
    width: 100%;
    height: 349px;
    margin: 10px 5px;
    background-color: red; }

.portfolio-menu-but {
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 47px;
  margin: 20px 0; }
  .portfolio-menu-but__web {
    background-image: url("./../../img/portfolio/icon-web.svg"); }
  .portfolio-menu-but__app {
    background-image: url("./../../img/portfolio/icon-app.svg"); }
  .portfolio-menu-but__soft {
    background-image: url("./../../img/portfolio/icon-soft.svg"); }

.portfolio-head {
  height: 107px;
  width: 100%;
  position: relative;
  font-family: "GothamProBold";
  font-size: 120px;
  color: #F2F2F2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 60px auto;
  align-items: center; }
  .portfolio-head::before {
    content: "ПОРТФОЛИО";
    position: absolute;
    z-index: -1;
    opacity: 0.5; }
  .portfolio-head ul {
    max-width: 487px;
    width: 100%;
    height: 76px;
    list-style: none;
    height: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .portfolio-head ul .active {
      border-bottom: 4px solid #ea4335; }
    .portfolio-head ul a {
      font-family: "GothamProBold";
      font-size: 30px;
      display: block;
      color: #404040;
      text-decoration: none; }
